<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends "base.html"%}
{% block body %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
<form action="">
    <p>
        Serch for gifs by key word?
    <input type="text" name="search_term">
    <input type="submit">
    <p>
</form>
<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->
{% for gif in range(10)%}
<!-- TODO: For each gif, include the 'gif.html' template to display it -->
{% set gif_id = gifs["results"][gif]["id"] %}
{% set gif_url = gifs["results"][gif]["media"][0]["gif"]["url"]%}
{% set gif_itemurl = gifs["results"][gif]["itemurl"] %}
{% include 'gif.html' %}
{% endfor %}

{% endblock %}
